services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "5001:5000"
    depends_on:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/networth
      JWT_SECRET: ${JWT_SECRET:-dev-secret-change-me}

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  mongo-data:
